.square{
    background-color: wheat;
    display: grid;
    height: 8vw;
    width: 8vw;
    grid-template-columns: 1fr 1fr;
    border: 1px solid;
    border-color: black;
}

.subsquare{
    display: grid;
    grid-template-columns: .5fr .5fr;
    /* min-width: 4vw;
    min-height: 4vh; */
}

.neutral{
    
}

.yellowbg{
    background-color: rgb(255, 255, 121);
}

.bluebg{
    background-color: rgb(87, 87, 255);
}

.greenbg{
    background-color: rgb(102, 239, 102);
}

.redbg{
    background-color: rgb(255, 103, 103);
}