.square{
    background-color: #f7ecc8;
    display: grid;
    height: 8vw;
    width: 8vw;
    grid-template-columns: 1fr 1fr;
    border: 1px solid;
    border-color: black;
}

.subsquare{
    display: grid;
    grid-template-columns: .5fr .5fr;
    /* min-width: 4vw;
    min-height: 4vh; */
}

.neutral{
    
}

.yellowbg{
    background-color: rgb(176, 176, 54);
    margin: 3px;
}

.bluebg{
    background-color: rgb(49, 49, 103);
    margin: 3px;
}

.greenbg{
    background-color: rgb(72, 122, 72);
    margin: 3px;
}

.redbg{
    background-color: rgb(166, 42, 42);
    margin: 3px;
}