.square-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* gap: .2rem;   */
}

#playscreenpage{
    background-color: #1e2424;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#joinwindow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionwrapper > *{
    margin: .3rem;
    padding: .5rem;
}

#joinoption{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#createroom, #joinroom{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button{
    color: aqua;
    padding: 1rem;
    font-size: 2.3em;
    margin: 1em;
    border-radius: 10px;
}

.button:hover{
    color: black;
    cursor: pointer;
    background-color: aqua;
    transition-delay: 50ms;
}

.joinroomform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.joinroomform > *{
    padding: .4rem;
    margin: .4rem;
}

#gamescreen{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    border-radius: 44px;
}

.leftscreen{
    /* margin-right: 7vh; */
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.leftscreen > *{
    margin-bottom: 2vh;
}

.middlescreen{
    /* margin-right: 7vw; */
}

#dice{
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rollbtn{
    padding: .5rem;
    background-color: rgb(22, 22, 22);
    color: white;
}

.rollbtn:hover{
    background-color: gray;
    color: black;
}

.playerlist{
    display: flex;
    flex-direction: column;
}

.yellow{
    background-color: #ffd93e;
    margin: 12px;
    border-radius: 5px;
}

.blue{
    background-color: #3da4fe;
    margin: 12px;
    border-radius: 5px;
}

.red{
    background-color: #ff3737;
    margin: 12px;
    border-radius: 5px;
}

.green{
    background-color: #73dc2f;
    margin: 12px;
    border-radius: 5px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

 h2,h5, h6{
    font-size: 6em;
    color: #ffd93e;
}
h3{
    color: #ffd93e;
    font-size: 5em;
}
h4{
    color: #ffd93e;
    font-size: 4em;
}
.display{
    width: 40%;
    height: 1.7em;
    background-color: rgb(255, 0, 111);
    color: #1e2424;
    font-size: 2em;
}


@media screen and (max-width: 600px) {
    #gamescreen{
        flex-direction: column;
    }
    .playerlist{
        flex-direction: row;
    }
}