.square-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* gap: .2rem;   */
}

#gamescreen{
    display: none;
}

#createroom{
    display: none;
}

#joinroom{
    display: none;
}